---
---

$wrap: 800px;

.feature {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin: 40px 0;
}

.feature-image {
  flex-shrink: 0;
  width: 40%;
  aspect-ratio: 3 / 2;
  padding: 5px;
  border: solid 1px var(--light-gray);
  border-radius: 0;
  background: var(--background);
  box-shadow: none;
  overflow: hidden;
}

.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-text {
  flex-grow: 1;
}

.feature-title {
  font-family: var(--heading);
  font-size: var(--large);
  font-weight: var(--semi-bold);
  text-align: left;
}

.feature[data-flip] {
  flex-direction: row-reverse;
}

@media (max-width: $wrap) {
  .feature {
    flex-direction: column !important;
  }

  .feature-image {
    width: 100%;
    max-width: calc($wrap / 2);
  }
}
